  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">IN/OUT</h5>
      <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-5 pr-1">
              <div class="form-group">
                <label>Nama Agent</label>
                <input type="text" class="form-control" >
              </div>
            </div>
            <div class="col-md-3 px-1">
              <div class="form-group">
                <label>Pemilik Agent</label>
                <input type="text" class="form-control" >
              </div>
            </div>
            <div class="col-md-4 pl-1">
              <div class="form-group">
                <label>Alamat</label>
                <input type="email" class="form-control" >
              </div>
            </div>
          </div>
    </div>
    <div class="modal-footer">
        <button href="#" class="btn btn-danger btn-icon btn-round btn-sm float-right" (click)="activeModal.close('Close click')">
            <i class="travel_info">X</i>
        </button>       
    </div>
  </div>