  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">IN/OUT</h5>
      <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="trx" (ngSubmit)="addTrx()">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Tipe Transaksi</label>
              <select class="form-control" formControlName="type" style="font-size: 16px" (change)="changeType($event)">
                <option>Pemasukan</option>
                <option>Pengeluaran</option>
              </select>
            </div>
            <div class="form-group">
              <label>Tanggal</label>
              <input type="date" class="form-control" formControlName="tanggal">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Kategori</label>
              <select class="form-control" formControlName="kategori" style="font-size: 16px">
                <option *ngFor="let type of categoryList" value="{{type.id}}">{{type.name}}</option>
              </select>
            </div>
            <div class="form-group">
              <label>Jumlah</label>
              <div class="input-group">
                <input type="number" class="form-control"  formControlName="jumlah" (keyup)="currencyFormat($event)">
              </div>
                <span>Nominal : </span><p class="pull-right">{{nominal | currency:'Rp. ' : 'symbol' : '1.0'}}</p>
            </div>            
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label>Keterangan</label>
              <div class="input-group">
                <input type="text" class="form-control"  formControlName="keterangan">
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
        <button href="#" class="btn btn-danger btn-icon btn-round btn-sm float-right" (click)="activeModal.close('Close click')">
            <i class="travel_info">X</i>
        </button> 
        <button type="button" (click)="addTrx()" class="btn btn-primary btn-icon btn-round btn-sm float-right">
          <i class="travel_info"><i class="now-ui-icons ui-1_check"></i></i>
        </button>               
    </div>
  </div>