<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Operational</h5>
        </div>
        <div class="card-body">
          <div class="table-responsive">
          <table class="table table-striped table-bordered">
            <thead class="text-primary">
              <th>No</th>
              <th>Tanggal</th>
              <th class="text-center">Trip</th>
              <th class="text-center">QTY</th>
              <th class="text-center">Harga/Tabung</th>
              <th class="text-center">Jumlah</th>
              <th class="text-center">Fee</th>
            </thead>
            <tbody *ngIf="operationalList?.length > 0;">
              <tr *ngFor="let op of operationalList;let i = index">
                <td class="text-center">{{i+1}}</td>
                <td>{{op.tanggal}}</td>
                <td class="text-right">{{op.trip}}</td>
                <td class="text-right">{{op.qty}}</td>
                <td class="text-right">{{op.harga | currency:'Rp. '}}</td>
                <td class="text-right">{{op.jumlah}}</td>
                <td class="text-right">{{op.fee | currency:'Rp. '}}</td>
              </tr>
              <tr *ngIf="isTambah">
                <td class="text-center"><i class="now-ui-icons education_paper"></i></td>
                <td><input type="date" name="tanggal" id="tanggal"></td>
                <td class="text-right">
                  <select name="trip" id="trip">
                    <option value="1">1 Trip</option>
                    <option value="2">2 Trip</option>
                    <option value="3">3 Trip</option>
                    <option value="4">4 Trip</option>
                  </select>
                </td>
                <td class="text-right"><input type="number" name="qty" id="qty" value="{{qty}}"></td>
                <td class="text-right"><input type="number" name="harga" id="harga" value="{{harga}}"></td>
                <td class="text-right"><input type="number" name="jumlah" id="jumlah"></td>
                <td class="text-right"><input type="number" name="fee" id="fee"></td>

              </tr>
              <ng-template #noData>
                <tr>
                  <td colspan="7" class="text-center">@No Data</td>
                </tr>
              </ng-template>
            </tbody>
          </table>
          <button type="button" *ngIf="!isTambah" (click)="toogleOP()" class="btn btn-primary btn-icon btn-round btn-sm float-right">
            <i class="travel_info"><i class="now-ui-icons ui-1_simple-add"></i></i>
          </button>   
          <button type="button" *ngIf="isTambah" (click)="cancel()" class="btn btn-primary btn-icon btn-round btn-sm float-right">
            <i class="travel_info"><i class="now-ui-icons ui-1_simple-remove"></i></i>
          </button> 
          <button type="button" *ngIf="isTambah" (click)="addOP()" class="btn btn-primary btn-icon btn-round btn-sm float-right">
            <i class="travel_info"><i class="now-ui-icons ui-1_check"></i></i>
          </button>                               
        </div>
        </div>
      </div>
    </div>      
  </div>  
</div>